/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 5px;
  background-color: #eaeaea;
}

::-webkit-scrollbar-track {
  border-radius: 30px;
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #007db8;
}


.admin-console  {
  text-align: center;
}

.form-all {
  display: inline-block;
  width: 650px !important;
  color: #555 !important;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
  font-size: 14px;
  text-align: left
}

.form-label-left {
  width: 150px;
}

.form-line {
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-label-right {
  width: 150px;
}

.form-label .form-label-auto {

  display: inline-block;
  text-align: left;

} /*__INSPECT_SEPERATOR__*/

.form-textarea  {
  resize: none;
}
.form-buttons-wrapper {
  text-align:center;
}

.button-blue {
  cursor: pointer;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;
  border-radius: .2em;
  padding: 8px 18px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0px -1px 0px #142353;
  border: 1px solid #3d4f8b;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(147, 187, 255, 0.30), 0px 2px 2px 0px rgba(0, 0, 0, 0.30);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(147, 187, 255, 0.30), 0px 2px 2px 0px rgba(0, 0, 0, 0.30);
  box-shadow: inset 0px 0px 0px 1px rgba(147, 187, 255, 0.30), 0px 2px 2px 0px rgba(0, 0, 0, 0.30);
  background: #305096;
  /* old browsers */
  background: -moz-linear-gradient(top, #5277c8 0%, #305096 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5277c8), color-stop(100%, #305096));
  /* webkit */
}

.button-blue:hover {
  color: #ffffff !important;
  border: 1px solid #3d4f8b !important;
  background: #243c70;
  /* old browsers */
  background: -moz-linear-gradient(top, #243c70 0%, #32539b 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32539b), color-stop(100%, #243c70));
  /* webkit */
}

.button-blue:active {
  color: #ffffff !important;
  border: 1px solid #3d4f8b !important;
  position: relative;
  top: 1px;
  background: #305096;
  /* old browsers */
  background: -moz-linear-gradient(top, #5277c8 0%, #305096 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5277c8), color-stop(100%, #305096));
  /* webkit */
}
