<div class="admin-console" accept-charset="utf-8">

  <div class="form-all">

    <ul class="form-section page-section">

      <li id="header">
        <div class="form-header-group ">
          <div class="header-text httac">
            <h1 class="form-header" data-component="header">
              {{ form_header }}
            </h1>
            <div class="form-subHeader">
              {{ welcome_msg }}
            </div>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox">
        <label class="form-label form-label-left form-label-auto" for="in_msg_type">
          {{ lbl_msg_type }}
        </label>
        <div class="form-input jf-required">
          <input type="text" id="in_msg_type" name="q9_messageType" data-type="input-textbox"
            class="form-textbox validate[required, AlphaNumeric]" size="50" maxLength="25"
            autocomplete="off" [placeholder]="msg_type_placeholder" data-component="textbox"
            required="" [(ngModel)]='newSliderData.msgType' [title]="tooltipText" (focusout)='checkEmpty($event)' />
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textarea">
        <label class="form-label form-label-left form-label-auto" for="in_msg_body">
          {{ lbl_msg_body }}
        </label>
        <div class="form-input-wide jf-required">
          <div class="form-textarea-limit">
            <span>
              <textarea id="in_msg_body" class="form-textarea validate[required, AlphaNumeric]" name="q3_msgBody"
                cols="42" rows="5" data-component="textarea" required="" [attr.maxlength]="max_char_count"
                minlength="15" (keyup)="onKeyUp($event)" [(ngModel)]='newSliderData.msgBody'
                [title]="tooltipText" (focusout)='checkEmpty($event)'></textarea>
              <div class="form-textarea-limit-indicator">
                <label for="in_msg_body">
                  {{ lbl_char_count}}
                </label>
              </div>
            </span>
          </div>
        </div>
      </li>
      <li class="form-input-wide">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h3 class="form-header">
              {{ disp_header }}
            </h3>
          </div>
        </div>
      </li>
      <li class="form-line jf-required allowTime" data-type="control_datetime">
        <label class="form-label form-label-left form-label-auto" for="in_from_dt">
          {{ lbl_from_dt }}
        </label>
        <div class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container">
              <input type="datetime-local" class="form-textbox" id="in_from_dt" required=""
                [(ngModel)]='newSliderData.fromTime' [title]="tooltipText" (focusout)='checkEmpty($event)'/>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required allowTime" data-type="control_datetime" id="id_7">
        <label class="form-label form-label-left form-label-auto" for="in_to_dt">
          {{ lbl_to_dt }}
        </label>
        <div class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container">
              <input type="datetime-local" class="form-textbox" id="in_to_dt" required=""
                [(ngModel)]='newSliderData.toTime' [title]="tooltipText" (focusout)='checkEmpty($event)' />
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required">
        <label class="form-label form-label-left form-label-auto" for="chklst_region">
          {{ lbl_region }}
        </label>
        <span class='form-region-checklist' *ngFor='let region of inp_regions'>
          <input type="checkbox" name="region" value="{{ region.value }}"
            (change)='updateCheckedRegions(region, $event)' >
          {{ region.value }}
        </span>
      </li>
      <li class="form-line" data-type="control_button">
        <div class="form-input-wide">
          <div class="form-buttons-wrapper">
            <button type="submit" (click)="addSliderItem()" class="btn-submit button-blue">
              {{ submit_btn_txt }}
            </button>
          </div>
        </div>
      </li>

    </ul>

  </div>

</div>
