/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 5px;
  background-color: #eaeaea;
}

::-webkit-scrollbar-track {
  border-radius: 30px;
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #007db8;
}

/* UI STYLING PROPERTIES */
.hello-msg {
  font-size: 15px;
}

.slider-header {
  font-variant: small-caps;
}

.slider-body {
  text-align: justify;
  font-size: 13px;
  overflow-y: auto;
  max-height: 100px;
  color: #444 !important;
}

.hearUs-drawer {
  position: fixed;
  right: -260px;
  z-index: 4000;
  width: 260px;
  height: auto;
  max-height: 275px;
  background: #fff;
  border-left: 3px solid #007db8;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  border-right: 1px solid #a9a9a9;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
  /* font-family: 'Maiandra GD'; */
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.hearUs-drawer,
.hearUs-drawer>* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.hearUs-drawer .hearUs-drawer-tab {
  display: none;
  cursor: pointer;
  background: #007db8;
  color: #fff;
  width: auto;
  padding: 8px 12px;
  margin: -1px 0 0 0;
  border-left: 1px solid #007db8;
  position: absolute;
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-transform-origin: top left;
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-box-shadow: -2px 0 5px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: -2px 0 5px 0 rgba(0, 0, 0, .3);
  box-shadow: -2px 0 5px 0 rgba(0, 0, 0, .3)
}

.hearUs-drawer .hearUs-drawer-tab div {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.hearUs-drawer .hearUs-drawer-content {
  width: 240px;
  display: block;
  padding: 10px;
  background: #fff
}

.hearUs-drawer .hide-drawer {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 34px;
  padding: 10px;
  cursor: pointer;
}

.hearUs-drawer .close {
  opacity: 1;
  color: #737373
}

.hearUs-drawer .hearUs-drawer-content .announcement-body {
  text-align: justify;
}

.smalldevices-chat-icon {
  /* display: none; */
  position: fixed;
}

/* .hearUs-drawer .hearUs-drawer-content .proactivechat-phone span,
.hearUs-drawer .hearUs-drawer-content .proactivechat-support span {
    font-size: 20px
} */

/* .hearUs-drawer .hearUs-drawer-content .chat,
.hearUs-drawer .hearUs-drawer-content .proactivechat-phone,
.hearUs-drawer .hearUs-drawer-content .intel-ad,
.hearUs-drawer .hearUs-drawer-content .proactivechat-email,
.hearUs-drawer .hearUs-drawer-content .proactivechat-contact-us,
.hearUs-drawer .hearUs-drawer-content .proactivechat-support {
    display: table;
    margin-top: 15px
} */

/* .hearUs-drawer .hearUs-drawer-content .chat .chat-icon,
.hearUs-drawer .hearUs-drawer-content .chat .chat-text,
.hearUs-drawer .hearUs-drawer-content .proactivechat-phone .phone-icon,
.hearUs-drawer .hearUs-drawer-content .proactivechat-phone .phone-text,
.hearUs-drawer .hearUs-drawer-content .proactivechat-email .email-icon,
.hearUs-drawer .hearUs-drawer-content .proactivechat-email .email-text,
.hearUs-drawer .hearUs-drawer-content .proactivechat-contact-us .contact-us-text,
.hearUs-drawer .hearUs-drawer-content .proactivechat-support .support-icon,
.hearUs-drawer .hearUs-drawer-content .proactivechat-support .support-text,
.hearUs-drawer .hearUs-drawer-content .intel-ad img,
.hearUs-drawer-content .intel-ad .intel-text {
    display: table-cell;
    vertical-align: middle
} */

/* .hearUs-drawer .hearUs-drawer-content .chat .chat-icon,
.hearUs-drawer .hearUs-drawer-content .proactivechat-phone .phone-icon,
.hearUs-drawer .hearUs-drawer-content .proactivechat-email .email-icon,
.hearUs-drawer .hearUs-drawer-content .proactivechat-support .support-icon {
    color: #007db8;
    display: table-cell;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    overflow: hidden
} */

/* .hearUs-drawer .hearUs-drawer-content .chat .chat-text,
.hearUs-drawer .hearUs-drawer-content .proactivechat-phone .phone-text,
.hearUs-drawer .hearUs-drawer-content .proactivechat-email .email-text,
.hearUs-drawer .hearUs-drawer-content .proactivechat-contact-us .contact-us-text,
.hearUs-drawer .hearUs-drawer-content .proactivechat-support .support-text {
    display: inline-block;
    vertical-align: top;
    color: #007db8
} */

/* .hearUs-drawer .hearUs-drawer-content hr {
    margin: 15px 0;
    border-color: #aaa
} */

/* .hearUs-drawer .hearUs-drawer-content .subtitle,
.hearUs-drawer .hearUs-drawer-content .intel-ad a {
    color: #444 !important
} */

/* .hearUs-drawer .hearUs-drawer-content .intel-ad img {
    width: 25px
} */

/* .hearUs-drawer .hearUs-drawer-content .intel-ad .intel-logo {
    display: inline-block;
    margin-right: 7px
} */

/* .hearUs-drawer .hearUs-drawer-content .chat div,
.hearUs-drawer .hearUs-drawer-content .proactivechat-phone div,
.hearUs-drawer .hearUs-drawer-content .proactivechat-email div,
.hearUs-drawer .hearUs-drawer-content .proactivechat-contact-us div,
.hearUs-drawer .hearUs-drawer-content .proactivechat-support div,
.hearUs-drawer .hearUs-drawer-content .intel-ad div {
    display: table-cell;
    vertical-align: middle
} */

/* .hearUs-drawer .hearUs-drawer-content .icon-links {
    text-decoration: none
} */

/* .hearUs-drawer .hearUs-drawer-content .chat .qqchat-small-icon,
.hearUs-drawer .hearUs-drawer-content .chat .wechat-small-icon {
    width: 27px;
    height: auto
} */

/* img.hearUs-drawer-image {
    display: table-cell;
    width: 27px;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
    border: 0;
    margin-right: -3px;
    box-sizing: border-box
} */

/*********************** RESPONSIVE CSS PROPERTIES ************************/

@media(max-width:991px) {
  .hearUs-drawer {
    position: fixed;
    left: 0;
    z-index: 4000;
    width: 260px;
    height: auto;
    margin: 0.5px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3)
  }

  .hearUs-drawer.is-open {
    border-left: 1px solid #a9a9a9;
    border-top: 3px solid #007db8;
    border-bottom: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9
  }

  .hearUs-drawer .hearUs-drawer-content.is-open {
    display: inline-block
  }

  .hearUs-drawer .hide-drawer {
    right: 0;
    top: 0;
    width: 34px;
    height: 34px;
    padding: 10px;
    cursor: pointer;
  }

  .hearUs-drawer .close {
    opacity: 1;
    color: #737373
  }

  .hearUs-drawer .hearUs-drawer-content .subtitle {
    color: #444;
    word-break: break-word
  }

  .smalldevices-chat-icon {
    /* display: block; */
    position: fixed;
    cursor: pointer;
    background: #007db7;
    color: #fff;
    z-index: 4000;
    width: 40px;
    height: 40px;
    left: 10px;
    bottom: 10px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #fff;
    -webkit-box-shadow: -2px 5px 5px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: -2px 5px 5px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: -2px 0 5px 3px rgba(0, 0, 0, .3);
    box-shadow: -2px 0 5px 3px rgba(0, 0, 0, .3);
  }
}

@media(min-width:992px) {
  .hearUs-drawer {
    top: 225px
  }
}

/* **************************************************************************** */

/* bundle-css */

.icon-small-cart,
.icon-small-chat,
.icon-small-mail,
.icon-small-phone,
.icon-small-searchleft,
.icon-small-useraccount {
  cursor: pointer;
  font-family: icon-small;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
