<div class="smalldevices-chat-icon icon-small-chat" id="smalldevicesChatIcon" (click)='togglePanel()'>
  <img src="../assets/forum_white.png" alt="Hear Us Out!" width='18px' height='auto'>
</div>

<div class="hearUs-drawer" data-testid="hearUsDrawerDiv" id="hearUs-drawer"
[@openCloseRight]="isRightOpen ? 'openRight' : 'closeRight'"
[@openCloseBottom]="isBottomOpen ? 'openBottom' : 'closeBottom'"
[style.right]='rightVal' [style.bottom]='bottomVal'>
  <div class="hearUs-drawer-tab" id="hearUs-drawer-tab" [style.display]='displayVal' (click)='togglePanel()'>
    <div id="drawerText">
      <!-- <b> -->
      {{ drawerMsg }}
      <!-- </b> -->
    </div>
  </div>
  <div class="hearUs-drawer-content">
    <div>
      <div aria-hidden="true" class="hide-drawer close dellmetrics-chatdrawerclose" id="closebutton"
        (click)='togglePanel()'>
        <svg height="16" viewbox="0 0 12 16" width="12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"
            fill-rule="evenodd"> </path>
        </svg>
      </div>
    </div>
    <span class='hello-msg'>
      <em>
        {{ 'Hello, ' + currentUser + '!' }}
      </em>
    </span>

    <hr>

    <span class="slider-header">
      {{ announcementType }}
    </span>
    <div class="slider-body">
      <p>{{ announcementContent }}</p>
    </div>
    <hr>
    <div class="footer">
      <table width=100% style="text-align: center">
        <tr>
          <td><a href="">Chat</a></td>
          <td><a href="">Call</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--
<script type="text/javascript">
  $('#hearUs-drawer-tab').toggle(
    function () {
      console.log("CALLING showSettings()");
      showSettings();
    },
    function () {
      console.log("CALLING hideSettings()");
      hideSettings();
    }
  );

  function showSettings() {
    $('.hearUs-drawer-tab').stop(true, false).animate(
      {right: 0},
      { opacity: 1, duration: 'slow', easing: 'easeOutBounce' }
    );
  }

  function hideSettings() {
    $('.hearUs-drawer-tab').stop(true, false).animate(
      {right: -260},
      { opacity: 1, duration: 'slow', easing: 'easeOutBounce' }
    );
  }
</script>
-->
